In [65]:
import os
import numpy as np
import pandas as pd

In [71]:
# 設定 data_path
dir_data = './'

f_app = os.path.join(dir_data, 'train.csv')

print('Path of read in data: %s' % (f_app))

x_train = pd.read_csv(f_app,header=None)

Path of read in data: ./train.csv

In [72]:
y_train = pd.read_csv('trainLabels.csv',header=None)
# y_train

In [73]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

# 切分訓練集/測試集
x_train, x_test, y_train, y_test = train_test_split( x_train, y_train, test_size=0.25, random_state=4)

# 建立模型
reg = GradientBoostingClassifier()

# 訓練模型
reg.fit(x_train, y_train)

# 預測測試集
y_pred = reg.predict(x_test)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [74]:
from sklearn import metrics

In [75]:
acc = metrics.accuracy_score(y_test, y_pred)
print("Acuuracy: ", acc)

Acuuracy:  0.892

In [76]:
from sklearn.model_selection import KFold, GridSearchCV
# 設定要訓練的超參數組合
n_estimators = [50, 100, 150, 200]
max_depth = [1, 3, 5, 7, 9]
param_grid = dict(n_estimators=n_estimators, max_depth=max_depth)

## 建立搜尋物件，放入模型及參數組合字典 (n_jobs=-1 會使用全部 cpu 平行運算)
grid_search = GridSearchCV(reg, param_grid, scoring="neg_mean_squared_error", n_jobs=-1, verbose=1)

# 開始搜尋最佳參數
grid_result = grid_search.fit(x_train, y_train)

# 預設會跑 3-fold cross-validadtion，總共 9 種參數組合，總共要 train 27 次模型

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

Fitting 3 folds for each of 20 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:    3.7s finished
/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [77]:
# 印出最佳結果與最佳參數
print("Best Accuracy: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

Best Accuracy: -0.130667 using {'max_depth': 5, 'n_estimators': 50}

In [78]:
grid_result.best_params_

{'max_depth': 5, 'n_estimators': 50}

In [79]:
# 使用最佳參數重新建立模型
reg_bestparam = GradientBoostingClassifier(max_depth=grid_result.best_params_['max_depth'],
                                           n_estimators=grid_result.best_params_['n_estimators'])

# 訓練模型
reg_bestparam.fit(x_train, y_train)

# 預測測試集
y_pred = reg_bestparam.predict(x_test)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [80]:
# 調整參數後約可降至 0.05 的 MSE
print(metrics.mean_squared_error(y_test, y_pred))

0.112

In [81]:
acc = metrics.accuracy_score(y_test, y_pred)
print("Acuuracy: ", acc)

Acuuracy:  0.888

In [82]:
need_pred = pd.read_csv('test.csv',header=None)
need_pred.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,2.808909,-0.242894,-0.546421,0.255162,1.749736,-0.030458,-1.322071,3.578071,-0.667578,-0.884257,...,-0.261688,-0.224375,-1.675606,-0.479584,-0.244388,-0.672355,0.517860,0.010665,-0.419214,2.818387
1,-0.374101,0.537669,0.081063,0.756773,0.915231,2.557282,3.703187,1.673835,-0.764122,-1.228040,...,-0.969463,0.574154,-2.200519,-1.612240,0.179031,-2.924596,0.643610,-1.470939,-0.067408,-0.976265
2,-0.088370,0.154743,0.380716,-1.176126,1.699867,-0.258627,-1.384999,1.093584,1.596633,0.230631,...,-0.769885,-0.005143,1.467490,0.483803,-3.542981,0.814561,-1.652948,1.265866,-1.749248,1.773784
3,-0.685635,0.501283,1.873375,0.215224,-3.983468,-0.103637,4.136113,-0.225431,-1.515015,-1.071763,...,0.968609,2.386412,-0.131219,0.285646,2.302069,1.255588,-1.563090,-0.125258,-1.030761,-2.945329
4,0.350867,0.721897,-0.477104,-1.748776,-2.627405,1.075433,4.954253,-3.293501,-0.760369,0.204360,...,0.260553,-2.045650,-2.173227,0.372992,0.450700,-0.211657,1.301359,-0.522164,2.484883,0.039213

In [93]:
predictions = reg_bestparam.predict(need_pred)
prediction = pd.DataFrame(predictions, columns=['Solution'])
prediction
prediction.to_csv('prediction.csv')

In [88]:
# np.savetxt('./result.csv',prediction, delimiter=',')

In [96]:
df = pd.read_csv('prediction.csv')
# df.Id = df.Id + 1

In [98]:
df.to_csv('prediction.csv')

In [99]:
pd.read_csv('prediction.csv')

      Unnamed: 0    Id  Solution
0              0     1         1
1              1     2         0
2              2     3         1
3              3     4         0
4              4     5         0
5              5     6         0
6              6     7         0
7              7     8         1
8              8     9         0
9              9    10         0
10            10    11         1
11            11    12         1
12            12    13         1
13            13    14         0
14            14    15         0
15            15    16         1
16            16    17         0
17            17    18         1
18            18    19         1
19            19    20         0
20            20    21         0
21            21    22         1
22            22    23         0
23            23    24         0
24            24    25         1
25            25    26         1
26            26    27         1
27            27    28         0
28            28    29         1
29            29    30         0
...          ...   ...       ...
8970        8970  8971         0
8971        8971  8972         0
8972        8972  8973         1
8973        8973  8974         0
8974        8974  8975         1
8975        8975  8976         1
8976        8976  8977         0
8977        8977  8978         1
8978        8978  8979         1
8979        8979  8980         1
8980        8980  8981         1
8981        8981  8982         1
8982        8982  8983         0
8983        8983  8984         0
8984        8984  8985         0
8985        8985  8986         1
8986        8986  8987         0
8987        8987  8988         0
8988        8988  8989         1
8989        8989  8990         0
8990        8990  8991         0
8991        8991  8992         1
8992        8992  8993         0
8993        8993  8994         1
8994        8994  8995         1
8995        8995  8996         0
8996        8996  8997         1
8997        8997  8998         1
8998        8998  8999         0
8999        8999  9000         1

[9000 rows x 3 columns]